!!! 5
html
  head
  block styles
    style(type='text/css',src='css/app.css')
  block scripts
    script(type='text/javascript',src='js/jquery-2.2.3.js')
    script(type='text/javascript',src='js/app.js')
    body
        p The message is: #{message}
