!!! 5
html
  head
  block styles
    style(type='text/css',src='dist/css/app.css')
  block scripts
    script(type='text/javascript',src='dist/js/jquery-2.2.3.min.js')
    script(type='text/javascript',src='dist/js/app.js')
    body
        p The message is: #{message}
